.container{
    margin: 10px;
    text-align: center;
    width: 35%;
}
.container h1{
   font-size: 40px;
}
.container p {
    font-size: 16px;
}
.content{
    border: 2px solid #000;
    text-align: left;
    padding: 30px;
    position: relative;
    font-size: 18px;
    
}
.elem input{
    width: 50%;
    align-items: center;
    position: absolute;
    left: 160px ;

}
.one{
    padding-bottom: 15px;
    padding-top: 10px;
}
.end{
    text-align: center;
}
button{
    padding: 3px 10px;
    font-size: 16px;
}